all:
  children:
    host_boundary:
      hosts:
        localhost:
          ansible_connection: local
    agent_hosts:
      hosts:
        my-agent-host:
          ansible_host: YOUR_AGENT_HOST_IP
          ansible_user: YOUR_SSH_USER
